*{ 
    padding: 0; 
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    list-style: none; 
    text-decoration: none; 
}

header{ 
    position: fixed; 
    right: 0; 
    top: 0; 
    z-index: 1000; 
    width: 100%; 
    display: flex; 
    align-items: center;
    justify-content: space-between;
    padding: 33px 9%; 
    background: transparent; 
}

.navlist {  
    display: flex;
}

.navlist a{ 
    color: white; 
    margin-left: 100px; 
    font-size: 20px;
    font-weight: 300;
    border-bottom: 2px solid transparent; 
    transition: all .55s ease; 
}

.navlist a:hover{ 
    border-bottom: 2px solid black; 
}

.logo { 
    font-weight: 400;
    font-size: 20px; 
    color: white; 
}

.dropdown {
    display: block;
}

.content a {
    padding:9px;
    text-decoration: none;
    color: #b31616;
    display: block;
    background-color: #2c2345;
    margin: 0; 
}

.dropdown:hover .content {
    display: block;
}


.content {
    padding: 0; 
    display: none;
    position: absolute;
    background-color: #292525;
    z-index: 1;
    box-shadow: 2px 2px 5px #000000;
}

.backdrop { 
    z-index: 1; 
    position: fixed;
    height: 1000px;
    width: 100%;
    padding-top: 100px;
    color: white;
    overflow: hidden;
    background: #6648c0;  /* fallback for old browsers */
    background: linear-gradient(rgba(77, 72, 85, 0.8), rgba(0, 0, 0, 0.8)), url("Images/B5.webp");  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(rgba(77, 72, 85, 0.8), rgba(0, 0, 0, 0.8)), url("Images/B5.webp"); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: contain; 
    background-repeat: no-repeat;

}

.backdrop2{ 
    z-index: 1; 
    position: fixed;
    height: 1000px;
    width: 100%;
    padding-top: 100px;
    color: white;
    overflow: hidden;
    background: #6648c0;  /* fallback for old browsers */
    background: linear-gradient(rgba(68, 176, 158, 0.8), rgba(224, 210, 199, 0.8)), url("Images/b3.webp");  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(rgba(68, 176, 158, 0.8), rgba(224, 210, 199, 0.8)), url("Images/b3.webp"); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: contain; 
    background-repeat: no-repeat;

}

.backdrop3{ 
    z-index: 1; 
    position: fixed;
    height: 1000px;
    width: 100%;
    padding-top: 40px;
    color: white;
    overflow: hidden;
    background: #6648c0;  /* fallback for old browsers */
    background: linear-gradient(rgba(215, 215, 215, 0.8), rgba(53, 53, 53, 0.8)), url("Images/b6.webp");  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(rgba(215, 215, 215, 0.8), rgba(53, 53, 53, 0.8)), url("Images/b6.webp"); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: contain; 
    background-repeat: no-repeat;
}

.backdrop4{ 
    z-index: 1; 
    position: fixed;
    height: 1000px;
    width: 100%;
    padding-top: 100px;
    color: white;
    overflow: hidden;
    background: #6648c0;  /* fallback for old browsers */
    background: linear-gradient(rgba(224, 210, 180, 0.8), rgba(226, 172, 107, 0.8)), url("Images/b7.webp");  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(rgba(224, 210, 180, 0.8), rgba(226, 172, 107, 0.8)), url("Images/b7.webp"); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: contain; 
    background-repeat: no-repeat;
}

.backdrop5{ 
    z-index: 1; 
    position: fixed;
    height: 1000px;
    width: 100%;
    padding-top: 100px;
    color: white;
    overflow: hidden;
    background: #6648c0;  /* fallback for old browsers */
    background: linear-gradient(rgba(45, 52, 54, 0.8), rgba(211, 211, 211, 0.8)), url("Images/graphb.webp");  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(rgba(45, 52, 54, 0.8), rgba(211, 211, 211, 0.8)), url("Images/graphb.webp"); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: contain; 
    background-repeat: no-repeat;
}



.h1 { 
    color: white; 
    font-size: 100px;
    margin-top: 210px; 
    text-align: center;
    font-weight: 00;
}

.h2 { 
    color: white;  
    text-align: center;
}

.nh1 { 
    color: rgb(37, 74, 167); 
    text-align: center;
    margin-top: 75px;
}

.nh2{ 
    text-align: center;
    font-weight: 300;
}

.ah1 { 
    color: rgba(34, 106, 200, 0.693); 
    text-align: center;
    margin-top: 75px;
}

.ah2{ 
    text-align: center;
    padding: 20px;
    font-weight: 300;
}
.ih1 { 
    color: rgb(37, 74, 167); 
    text-align: center;
    margin-top: 75px;
}

.ih2{ 
    padding: 20px;
    text-align: center;
    font-weight: 300;
}

.SVCA {
     margin-top: 20px;
     display: block; 
     margin-left: auto;
     margin-right: auto;
     max-width: 50%;
     max-height: 50%;
     padding: 2px; 
}

.SVCF { 
    margin-top: 20px;
     display: block; 
     margin-left: auto;
     margin-right: auto;
     max-width: 25%;
     max-height: 25%;
}

.SVCT { 
    text-align: center; 
    font-weight: 300;
    padding: 1px;
}

.SVCFH {
    text-align: center; 
}

.LR1 {
    margin-top: 40px;
     display: block; 
     margin-left: auto;
     margin-right: auto;
     max-width: 75%;
     max-height: 75%;
     
}

.LRT { 
    text-align: center;
    padding: 20px; 
    font-weight: 300;
}

.LRH { 
    text-align: center; 
}

.Pre { 
    max-width: 45%; 
    max-height: 45%;
    margin-left: 525px; 
    padding: 20px; 
}

.pnh1 { 
    color: rgb(37, 74, 167); 
    text-align: center;
    margin-top: 0px;
}

.pnh2{ 
    text-align: center;
    font-weight: 300;
}

.cnh1 { 
    color: rgb(37, 74, 167); 
    text-align: center;
    margin-top: 75px;
    padding: 2px;
}

.cnh2{ 
    text-align: center;
    padding: 2px; 
    font-weight: 300;
}

.tnh1 { 
    color: rgb(37, 74, 167); 
    text-align: center;
    margin-top: 0px;
    padding: 2px;
}

.tnh2{ 
    text-align: center;
    padding: 20px; 
    font-weight: 300;
}

.GBCP {
    max-width: 45%; 
    max-height: 45%;
    margin-left: 400px; 
    padding: 20px; 
}

.Pred { 
    padding: 20px; 
}

.prnh1 { 
    color: rgb(37, 74, 167); 
    text-align: center;
    margin-top: 0px;
    padding: 2px;
}

.prnh2{ 
    text-align: center;
    padding: 20px; 
    font-weight: 300;
}


